.f-sec-col{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.f-sec-col h4{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}
.s-sec-col{
   text-align: center;
   /* margin-left: 150px; */
}
.s-sec-col h6{
    margin-left: 300px;
}
.t-sec-col{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}



/* for undertaking */


/* for tc report */
.for-input-change{
    
        width: 15%;

        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #000;
        outline: none;
        margin-right:10px;
        margin-left:10px;
       
 
}
.dash-line{
    /* background-color: #000; */
    width:100%;
    height:1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dashed #000;
}
@media print {
    #bton {
      display: none;
    }
    #for_input{
        border:none;
    }
    #for_input_heading{
        /* border-bottom: 1px solid #000; */
        /* width:400px !important */
        font-weight: 900;
    }
    #for_style{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
  }
