*{
    padding: 0px;
    margin: 0px;
}
.main{
    height: 100% !important;
    width: 100% !important;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url('./superlogin.png') !important;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    height: auto;
    width: 480px;
    display: flex;
    justify-content:center;
    border-radius: 5px;
    background: #fff;
    padding:25px;
}




 
.login{

    width: 280px;
}
.input-field:focus {
    border-color: dodgerblue !important;
    border-bottom: 2px solid;
}
.input-field{
    width: 100%;
    margin-top: 15px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #999;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 15px;
    background: linear-gradient(90deg, #0277bd 0%,rgba(22, 4, 104, 0.507) 100%);
    border: 0;
    outline: none;
    border-radius: 30px;


}
.login-heading{
    text-align: center;
}
